extends _layout-with-navigation
block content
    ol.breadcrumb
        li.active Home
        
    h1 OoBleck
    p Nothing to see here. 
        unless isLoggedIn
            a(href="/login") Log in
            | .