extends _layout-with-navigation
block content
    ol.breadcrumb
        li
            a(href="/") Home
        li.active Submissions
    
    h1 Submissions
    table.table.table-striped
        tr
            th Name
            if userHasRole('reviewer')
                th Your Score
                th Notes
            if userHasRole('admin')
                th ID
                th &nbsp;
        each submission in submissions
            tr
                td 
                    a(href="/submission/" + submission._id) #{submission.name}
                if userHasRole('reviewer')
                    if (submission.reviews[user.id] !== undefined)
                        td
                            +showStars(submission.reviews[user.id].score)
                        td
                            | #{submission.reviews[user.id].notes}
                    else
                        td ðŸŒš
                        td &nbsp;

                if userHasRole('admin')
                    td 
                        | #{submission._id}
                    td
                        a(href="/submission/delete/" + submission._id) Delete
    h2 Progress: #{Math.round(percentProgress)}%
    .progress
        .progress-bar(style="width: " + percentProgress + "%")                        
    if userHasRole('reviewer')
        include _reviewer-graph

mixin showStars(numberOfStars)
    -var counter = 0
    while counter < numberOfStars
        | â­ï¸
        -counter++
    while counter < 4
        | ðŸ”¸
        -counter++