extends _layout-with-navigation
block content
    h1 Submissions
    table.table.table-striped
        tr
            th Name
            th ID
            if userHasRole('admin')
                th &nbsp;
        each submission in submissions
            tr
                td 
                    a(href="/submission/" + submission._id) #{submission.name}
                td 
                    | #{submission._id}
                if userHasRole('admin')
                    td
                        a(href="/submission/delete/" + submission._id) Delete