extends _layout

block content
    h1 Submissions
    table.table.table-striped
        tr
            th Name
            th ID
        each submission in submissions
            tr
                td #{submission.name}
                td #{submission._id}

    a.btn.btn-primary(href="/new-submission") New Submission