extends _layout

block content
    table.table.table-striped
        tr
            th Username
            th Password
        each user in users
            tr
                td #{user.username}
                td #{user.password}